@import './Vars.scss';
@import './Media.scss';

* {
  box-sizing: border-box;
}
body {
  background: $main-color no-repeat;
  color: white;
  font-family: $theme-font;
  margin: 0;
}

/*Scrollbars styles*/
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #715aff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}